 
#fn1{ font-size:1.6vw; font-family:Verdana;color: black;}   /* border-color used for mack colorful border */ 
#sn1{ font-size: 1.6vw; font-family:Verdana;color: black;} 
#code{border-color: black;height: 36px;}
   /* color is used for do color in font*/
#telephone1{ font-size: 1.6vw; font-family: Verdana; color: black;}  
#email1{ font-size: 1.6vw; font-family: Verdana;color: black;}  
#address1{  font-size: 1.6vw; font-family: Verdana; color: black}
#textarea{border-color: black;}
#fn,#sn,#email,#cpass{
	border-color: black;
	height: 25px;
	width: 300px;

}
td{
	height: 50px;
}
p{
	font-family: Verdana;
	font-size:1.6vw;
	color:black;
}
#uemail,#upass{
	border-color: black;
	height: 25px;
	width: 300px;
}
input,select{
            width: 5%;
            height: 8%;
            border: 1px;
            border-radius: 05px;
            padding: 8px 40px 8px 40px;
            box-shadow: 1px 1px 2px 1px gray;


        }

textarea{
	width:80%;
	height: 60%;
	border: 1px;
	border-radius: 05px;
    padding: 8px 20px 8px 20px;
    box-shadow: 1px 1px 2px 1px gray;
}

#telephone{
	width: 218px;
	height: 25px;
}
