nav ul{

	list-style-type: none;
	
    
			
}

nav li{

	        padding: 10px 10px;
			display: inline-block;
			font-size: 25px;
			color: black;
			font-family: Garamond;
			
		
}
.mobile-menu{

	background-color: red;

	position: relative;

	display: none;

}

@media (max-width: 640px) {

	.mobile-menu{

		display: block;

		background-color: black;

		color: #fff;

		padding: 15px 10px;

		cursor: pointer;

	}

	.mobile-menu img{

		width: 20px;

		top: 5px;

		right: 10px;

		position: absolute;

	}

	nav{

	    position: relative;

	    height: auto;

	}

	nav ul{

		display: none;

	    list-style: none;

	    padding: 0;

	    margin: 0;

	    width: 99%; 

	    top: 0;

	    position: absolute;

	}

	nav ul li{ 

		width: 92%;

		position: relative;

	    padding: 5px;

	    background-color: white;

	    cursor: pointer;

	}

}


